﻿<!DOCTYPE html>
<html  ng-app="phonecatApp">
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/Controllers/PhoneListController.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
    <link rel="stylesheet" href="Content/Site.css">
    
</head>
<body ng-controller="PhoneListController">
    <div>
        <script type="text/ng-template" id="nodes_renderer.html">
            <div ui-tree-handle class="tree-node tree-node-content">
                <a class="btn btn-success btn-xs" ng-if="channel.channels && channel.channels.length > 0" data-nodrag ng-click="toggle(this)">
                    <span class="glyphicon"
                          ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span>
                </a>
                {{channel.title}}
                <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <ol ui-tree-nodes="" ng-model="channel.channels" ng-class="{hidden: collapsed}">
                <li ng-repeat="channel in channel.channels" ui-tree-node ng-include="'nodes_renderer.html'">
                </li>
            </ol>
        </script>



      <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <p>Channel: <input ng-model="channel" ></p>
                    <p>Message: <input ng-model="body"></p>
                    <button type="button" class="btn btn-primary" ng-click="send()">send</button>
                </div>
                <div class="col-md-4">     
                    <div><h2>Channels</h2></div>
                    <div>
                        <p>Matching channel : {{matchingChannel.name}}</p>
                    </div>

                    <div>
                        <p>Channel: <input ng-model="newChannel.name"></p>
                        <button type="button" class="btn btn-primary" ng-click="addNewChannel()">Add channel</button>
                    </div>

                    <!--<div>
                        <div>
                            <button ng-click="expandAll()">Expand all</button>
                            <button ng-click="collapseAll()">Collapse all</button>
                        </div>
                    </div>-->               

                        <div ui-tree id="tree-root">
                            <ol ui-tree-nodes ng-model="channels">
                                <li ng-repeat="channel in channels" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                            </ol>
                        </div>
                    </div>

                <div class="col-md-4">
                    <h2>Channels</h2>
                    <div>                        
                        <ul>
                            <li ng-repeat="channel in channelsDic">
                                <span>{{channel.name}}</span>                                
                            </li>
                        </ul>            
                    </div>
                </div>

                <div class="col-md-2">
                    <h2>Messages</h2>                            
                    <ul>
                        <li ng-repeat="message in messages">
                            <span>{{message.channel}}</span>
                            <p>{{message.body}}</p>
                        </li>
                    </ul>            
                </div>
            </div>
        </div>
    </div>
</body>
</html>
